<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    />
    <title>왕진병원지도 | 의원</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script
      src="https://kit.fontawesome.com/a10b8ac274.js"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=o41au83y93"
    ></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script
      type="text/javascript"
      src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9acd9571d64b210b4f9d411f2e5c9016&libraries=services
  "
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="notification-container" id="notification-container">
      <p>전화번호가 복사되었습니다!</p>
    </div>
    <div id="modal" class="modal-overlay">
      <div class="modal-window">
        <div class="title">
          <h2>안내</h2>
        </div>
        <div class="close-area">
          <i class="fa-regular fa-circle-xmark" id="modal_close"></i>
        </div>
        <div class="content">
          <p>반경 2.5km 안에 왕진 의원이 없습니다.</p>
        </div>
      </div>
    </div>
    <div id="menu_wrap">
      <div id="searchedAreaPlaceList_title"></div>
      <div id="searchedAreaPlaceList" style="z-index: 9999"></div>
    </div>
    <div
      id="layer"
      style="
        display: none;
        overflow: hidden;
        z-index: 10000;
        -webkit-overflow-scrolling: touch;
      "
    >
      <div id="popup_close_bar">
        <i class="fa-solid fa-xmark" id="search_popup_close"></i>
      </div>
    </div>
    <div id="root">
      <div id="nav_bar_wrap">
        <div id="title_search">
          <div id="title_text">
            <a class="menu-back" href="/"
              ><i class="fa-solid fa-chevron-left"></i>의원</a
            >
          </div>
          <div id="address_search">
            <input
              type="text"
              id="search_input"
              placeholder="주소 검색"
              onfocus="this.blur()"
            />
            <i id="search_icon" class="fa-solid fa-location-dot"></i>
          </div>
        </div>
      </div>
      <div id="current">
        <i class="fa-solid fa-crosshairs"></i>
      </div>
      <div id="map" style="width: 100%; height: 100%"></div>
    </div>

    <!-- script 불러오는 순서 중요. main.js에서 사용하기 위해서는 그 위에서 js를 불러와야함. -->
    <script
      type="text/javascript"
      src="/javascripts/loadingoverlay.min.js"
    ></script>
    <script
      type="text/javascript"
      src="/javascripts/MarkerClustering.js"
    ></script>
    <script
      type="text/javascript"
      src="/javascripts/postCodeSearch.js"
    ></script>
    <!-- main.js에서는 done안에다가 작성 -->
    <script type="text/javascript" src="/javascripts/clinicM.js"></script>
  </body>
</html>
