<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    />
    <title>왕진병원지도</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/icons.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap&subset=korean&text=담당업무"
      rel="stylesheet"
    />
    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <ul id="navbar">
      <li>
        <a href="/"><img src="/images/cvFont.svg" id="nav_bar_logo" /></a>
      </li>
    </ul>
    <div id="hero-wrap">
      <div id="hero">
        <div class="hero-title">우리동네 왕진병원</div>

        <div class="button-wrap">
          <a href="/map/clinics"
            ><div class="to-map clinic-btn">
              <img id="to-map-marker-m" src="/images/m_marker.png" />의원 보기
            </div></a
          >
          <a href="/map/clinics-km"
            ><div class="to-map clinic-km-btn">
              <img id="to-map-marker-km" src="/images/km_marker.png" />한의원
              보기
            </div></a
          >
        </div>
      </div>
      <div id="hero-info">
        <div class="hero-sub">
          <span>왕진병원을 지도에서 쉽게 찾아보세요!</span>
          <p>
            현재 "일차의료 방문진료 수가 시범사업"이 진행중입니다. 전국
            500여개의 의원과 1300여개의 한의원이 시범사업에 참여중입니다. 거동이
            불편하시거나 병원 방문이 어려우신 분들이 가정에서 진료를 받으실 수
            있습니다. 시범사업인 관계로 자세한 내용은 지도에서 병원을 찾고
            전화로 문의하시면 됩니다.
          </p>
          <div class="hero-illust">
            <img
              src="/images/undraw_doctors_re_jjho.svg"
              id="hero-illust-svg"
            />
          </div>
        </div>
      </div>

      <footer>
        <div class="team-info">
          <span>커넥트빌리지스</span>
          <span>010-2238-0705</span>
          <span>admin@connectvillages.com</span>
        </div>
        <div class="copyright">
          &copy; <%= new Date().getFullYear() %> Connect Villages %>
        </div>
      </footer>
    </div>
  </body>
</html>
