@import "marker.css";

@import "current.css";
@import "icons.css";
@import "postSearch.css";
@import "hero.css";
@import "modal.css";

@import url("https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@500;700;900&display=swap");

@font-face {
  font-family: "Nanum Gothic";
  font-style: normal;
  font-weight: 400;
  src: local("Nanum-Gothic"),
    url(/static_fonts/NanumGothic-Regular.woff2) format("woff2"),
    url(/static_fonts/NanumGothic-Regular.woff) format("woff"),
    url(/static_fonts/NanumGothic-Regular.ttf) format("truetype");
  unicode-range: U+d105-d12f, U+d132-d133, U+d135-d137, U+d139-d13f, U+d141-d142,
    U+d144, U+d146-d14b, U+d14e-d14f, U+d151-d153, U+d155-d15b, U+d15e-d187,
    U+d189-d19f, U+d1a2-d1a3, U+d1a5-d1a7, U+d1a9-d1af, U+d1b2-d1b3;
}

@font-face {
  font-family: "Nanum Gothic"; /* Nanum Gothic Bold x */
  font-style: normal;
  font-weight: 700;
  src: local("Nanum-Gothic"),
    url(/static_fonts/NanumGothic-Bold.woff2) format("woff2"),
    url(/static_fonts/NanumGothic-Bold.woff) format("woff"),
    url(/static_fonts/NanumGothic-Bold.ttf) format("truetype");
  unicode-range: U+d105-d12f, U+d132-d133, U+d135-d137, U+d139-d13f, U+d141-d142,
    U+d144, U+d146-d14b, U+d14e-d14f, U+d151-d153, U+d155-d15b, U+d15e-d187,
    U+d189-d19f, U+d1a2-d1a3, U+d1a5-d1a7, U+d1a9-d1af, U+d1b2-d1b3;
}

@font-face {
  font-family: "Nanum Gothic"; /* Nanum Gothic ExtraBold x */
  font-style: normal;
  font-weight: 800;
  src: local("Nanum-Gothic"),
    url(/static_fonts/NanumGothic-ExtraBold.woff2) format("woff2"),
    url(/static_fonts/NanumGothic-ExtraBold.woff) format("woff"),
    url(/static_fonts/NanumGothic-ExtraBold.ttf) format("truetype");
  unicode-range: U+d105-d12f, U+d132-d133, U+d135-d137, U+d139-d13f, U+d141-d142,
    U+d144, U+d146-d14b, U+d14e-d14f, U+d151-d153, U+d155-d15b, U+d15e-d187,
    U+d189-d19f, U+d1a2-d1a3, U+d1a5-d1a7, U+d1a9-d1af, U+d1b2-d1b3;
}

@font-face {
  font-family: "Nanum Gothic"; /* Nanum Gothic italic x */
  font-style: italic;
  font-weight: 400;
  src: local("Nanum-Gothic"),
    url(/static_fonts/NanumGothic-Regular-italic.woff2) format("woff2"),
    url(/static_fonts/NanumGothic-Regular-italic.woff) format("woff"),
    url(/static_fonts/NanumGothic-Regular-italic.ttf) format("truetype");
  unicode-range: U+d105-d12f, U+d132-d133, U+d135-d137, U+d139-d13f, U+d141-d142,
    U+d144, U+d146-d14b, U+d14e-d14f, U+d151-d153, U+d155-d15b, U+d15e-d187,
    U+d189-d19f, U+d1a2-d1a3, U+d1a5-d1a7, U+d1a9-d1af, U+d1b2-d1b3;
}

body {
  padding: 0 !important;
  margin: 0 !important;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  font-family: "Noto Sans KR", "Nanum Gothic", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;

  -webkit-tap-highlight-color: transparent;
  background-color: rgba(255, 255, 255, 0.05);
}

/* --------------------navbar CSS (현재 navbar없음)---------------------*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  position: fixed;
  width: 100%;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: flex-start;
}

#navbar {
  position: absolute;
  top: 0;
  height: 46px;
  padding-left: 16px;
  align-items: center;
}

#navbar li {
  height: 36px;
}

#nav_bar_logo {
  height: 100%;
}

#root {
  padding: 0px;
  margin: 0px;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  background: rgba(0, 0, 0, 0);
}
/* --------------------nav 타이틀 CSS---------------------*/
#nav_bar_wrap {
  /* nav bar는 아니고 지도 맵 검색창 위치임 */
  position: absolute;
  height: 44px;
  width: 456px;
  min-width: 165px;
  display: flex;
  margin: 0px 12px;
  gap: 10px;
  background: none;
  top: 20px;
  z-index: 999;
}

#layer {
  position: absolute;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 4px;
}

#popup_close_bar {
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
  display: flex;
  background-color: white;
}
#search_popup_close {
  cursor: pointer;
  font-size: 20px;
  z-index: 1000;
  margin-right: 15px;
  color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 480px) {
  #nav_bar_wrap {
    width: calc(100% - 24px);
    left: 0;
    right: 0;
  }

  #layer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
      rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
      rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  }
}

#title_search {
  display: grid;
  grid-template-areas: "title search";
  grid-template-columns: 90px calc(100% - 90px);
  width: 100%;
  align-items: center;
  background-color: white;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.fa-chevron-left {
  margin-right: 5px;
}
.menu-back {
  text-decoration: none;
}

.menu-back:visited {
  color: black;
}

#title_text {
  grid-area: title;
  padding: 0px 10px;
  text-align: center;
  justify-content: center;
  width: fit-content;
  font-weight: bolder;
  font-size: 16px;
  background: #ffffff00;
}

/* --------------------서치 CSS---------------------*/

#address_search {
  grid-area: search;
  display: grid;
  grid-template-areas: "input icon";
  grid-template-columns: calc(100% - 25px) 25px;
  width: 100%;
  height: 30px;
  background-color: none;
  border: none;
  font-size: 16px;
  font-weight: normal;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
  border-left: 1px solid rgba(0, 0, 0, 0.25);
}

#search_input {
  width: auto;
  height: 21px;
  padding: 7px 15px 0px 15px;
  background-color: none;
  border: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
}

#search_input:focus {
  outline: none;
}
#search_input::placeholder {
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
}

#search_input:focus {
  outline: none;
  cursor: pointer;
}

#search_icon {
  grid-area: icon;
  display: flex;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  padding-right: 10px;
  color: rgba(0, 0, 0, 0.7);
}
#current {
  position: absolute;
  top: 136px;
  right: 10px;
  height: 28px;
  width: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.7);
  user-select: none;
  background-color: white;
  cursor: pointer;
  border-radius: 4px;
  z-index: 999;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
}

#current:active {
  color: white;
  background-color: rgba(94, 170, 252, 1);
}

.fa-crosshairs {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

/* .marker {
  border: 1px solid black;
  background: green;
  opacity: 0.8;
  width: 24px;
  height: 24px;
  border-radius: 50%;
} */

/* --------------------인포윈도우 CSS---------------------*/
.infowindow_wrap {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  width: auto;
  min-width: 210px;
  min-height: 100px;
  max-width: 200px;
  height: auto;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.infowindow_title {
  font-size: 18px;
  font-weight: 600;
  height: auto;
  margin-bottom: 4px;
  color: black;
}
.infowindow_department {
  font-size: 15px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 2px;
}

.infowindow_address_road {
  font-size: 15px;
  font-weight: 500;
  color: black;
  margin-bottom: 2px;
}

/* .infowindow_address {
  font-size: 13px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
} */

.infowindow_contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
}

#contact {
  display: flex;
  justify-content: flex-start;
  font-size: 15px;
  color: rgba(25, 74, 167, 0.94);
}

.contact_copy {
  font-size: 12px;
  margin-left: 5px;
  color: rgba(4, 19, 47, 0.7);
}

.fa-phone {
  margin-left: 2px;
}

/* --------------------줌컨트롤 CSS---------------------*/
#zoomControlWrap {
  display: grid;
  width: 30px;
  height: 60px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1fr;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: 180px;
  right: 10px;
  background-color: white;
  z-index: 999;
  border-radius: 4px;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

#zoomInIconDiv {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.6);
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
}

#zoomOutIconDiv {
  width: 100%;
  height: 100%;
  display: flex;
  color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}
